* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  color: #fff;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background-color: #151515; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style: none; }

input[type=range]::-moz-range-thumb {
  height: 0px;
  width: 0px;
  cursor: pointer;
  border: 0; }

/* Range */
.range {
  position: relative;
  background-color: #292929;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1; }
  .range input {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
    -webkit-appearance: none;
    background-color: initial;
    outline: none;
    z-index: 3; }
    .range input::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none; }
    .range input::-webkit-slider-thumb {
      width: 0;
      height: 0;
      -webkit-appearance: none; }
  .range span {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: red;
    border-radius: 10px;
    z-index: 2; }

/* Input */
.group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .group input {
    font-size: 1em;
    width: 100%;
    background-color: inherit;
    border: none;
    border-bottom: solid 1px #fff;
    outline: none;
    padding-left: .75em;
    padding-bottom: 0.25em;
    color: #fff;
    z-index: 2; }
    .group input:focus ~ label {
      font-size: .75em;
      top: -1.5em;
      color: #000; }
    .group input:focus ~ span {
      left: 0;
      width: 100%;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
  .group label {
    font-size: 1em;
    position: absolute;
    top: 0;
    left: .75em;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .group span {
    position: absolute;
    background-color: #000;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 0;
    z-index: 2; }

/* Header */
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #0a0a0a;
  height: 75px; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  width: 16.5%; }
  .logo span {
    color: red; }

.header__main {
  width: 67%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__main .d-menu {
    height: 100%;
    width: 90px;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3; }
    .header__main .d-menu span {
      display: block;
      width: 30px;
      height: 2px;
      margin: 3px 0;
      background-color: #fff;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
  .header__main .active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -1px 0; }
  .header__main .active span:nth-child(2) {
    display: none; }
  .header__main .active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: -1px 0; }
  .header__main .profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__main .profile .ava {
      height: 100%;
      max-width: 90px;
      overflow: hidden;
      margin-right: 0.875em; }
      .header__main .profile .ava img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .header__main .profile span {
      text-transform: uppercase; }
  .header__main .search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #f23005;
    width: 30%; }
    .header__main .search .group {
      width: 70%;
      margin-left: 6%;
      margin-bottom: 6%; }
    .header__main .search button {
      display: block;
      font-size: 1.125em;
      background-color: inherit;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 2.22em;
      height: 2.22em;
      margin-right: 6%;
      margin-bottom: 6%; }
      .header__main .search button i {
        color: #fff;
        font-size: .9em; }

/* Main */
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-calc(89vh - 75px);
  height: calc(89vh - 75px);
  background-color: #151515; }

.music {
  width: 67%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  padding: 0;
  background-color: #151515;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  overflow-y: scroll;
  overflow-x: hidden; }
  .music::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .music-item {
    width: 12.7vw;
    height: 12.7vw;
    margin-top: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative; }
    .music-item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .music-item .hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .music-item .hover .name {
        text-transform: uppercase;
        position: absolute;
        top: 7%;
        left: 7%; }
        .music-item .hover .name:hover {
          color: #f23050; }
      .music-item .hover .author {
        position: absolute;
        top: 15%;
        left: 7%; }
        .music-item .hover .author:hover {
          color: #f23050; }
      .music-item .hover .play {
        font-size: 3.5em;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all; }
        .music-item .hover .play:hover {
          color: #f23050; }
    .music-item:hover .hover {
      opacity: 1; }

/* Sidebar */
.sidebar {
  width: 16.5%;
  background-color: #151515;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  z-index: 2; }
  .sidebar::-webkit-scrollbar {
    width: 0;
    height: 0; }

li.playlists {
  display: none; }

.menu {
  padding-top: 1em; }
  .menu li {
    margin-top: .875em; }
    .menu li a {
      display: block;
      padding: 1em;
      text-transform: uppercase;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
      .menu li a i {
        color: #f23050;
        margin-right: 1em; }
    .menu li a:hover {
      color: #f23050; }

.playlists {
  padding-top: 2.875em; }
  .playlists h1 {
    font-size: 1.5em;
    text-transform: uppercase; }
    .playlists h1 i {
      color: #f23050;
      font-size: .8em;
      margin-right: .83em; }
  .playlists ul {
    width: 100%;
    padding-left: 2em;
    padding-top: .75em; }
    .playlists ul li a {
      display: block;
      padding: .75em 1em;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
    .playlists ul li a:hover {
      color: #f23050; }

/* Player */
.player {
  height: 11vh;
  background-color: #0a0a0a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .player .track {
    width: 16.5%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .player .track div.track-img {
      margin-left: 2.5em;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      position: relative;
      padding: 12%; }
      .player .track div.track-img img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        top: 0;
        left: 0; }
    .player .track__name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 1.5em; }
      .player .track__name .name {
        text-transform: uppercase; }
      .player .track__name .author {
        color: #b3b3b3; }
  .player .controls {
    width: 67%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .player .controls i {
      color: #fff;
      font-size: 1.5em;
      margin-right: 1%;
      -webkit-transition: .2s color;
      -o-transition: .2s color;
      transition: .2s color; }
      .player .controls i:hover {
        color: #f23050; }
    .player .controls #pause, .player .controls #play {
      font-size: 1em;
      position: absolute;
      z-index: 1;
      -webkit-transition: .5s opacity, z-index;
      -o-transition: .5s opacity, z-index;
      transition: .5s opacity, z-index; }
    .player .controls #pause {
      opacity: 0; }
    .player .controls #repeat {
      margin-right: 3%;
      position: relative; }
      .player .controls #repeat span {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        line-height: 0.9em;
        text-align: center;
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        font-size: 0.5em;
        background-color: red;
        display: none;
        color: #fff; }
    .player .controls .time {
      margin: 0 2%; }
    .player .controls .timeline {
      width: 70%;
      height: 10px; }
      .player .controls .timeline input {
        width: 100%; }
  .player .volume {
    width: 16.5%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .player .volume i {
      font-size: 1.5em;
      margin-right: 5%; }
    .player .volume .range {
      width: 46%;
      height: 10px; }

@media screen and (max-width: 1024px) {
  .player i:hover, .music-item i:hover, .music-item a:hover {
    color: #fff !important; } }

@media screen and (max-width: 1450px) {
  .header__main .search {
    font-size: 12px; }
    .header__main .search .group {
      margin-bottom: 8%; }
    .header__main .search button {
      margin-bottom: 8%; }
  .music {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 1%; }
    .music-item {
      width: 15.5vw;
      height: 15.5vw; } }

@media screen and (max-width: 1220px) {
  body {
    font-size: 12px; }
  .header__main .search {
    width: 40%; }
    .header__main .search .group {
      margin-bottom: 8%; }
    .header__main .search button {
      margin-bottom: 8%; } }

@media screen and (max-width: 1000px) {
  .main {
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px); }
  .player {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%; }
  .header {
    height: 60px; }
    .header__main .d-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .playlists {
    display: none; }
  .music {
    width: 95%;
    max-height: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .music-item {
      width: 23vw;
      height: 23vw; }
  .logo {
    display: none; }
  .header__main {
    width: 100%; }
    .header__main .profile {
      display: none; }
    .header__main .search {
      width: 300px; }
      .header__main .search button {
        margin-bottom: 6%; }
      .header__main .search .group {
        margin-bottom: 6%; }
  .sidebar--left {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 1.2em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    overflow-x: hidden;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }
    .sidebar--left .menu {
      margin-top: 6vh;
      margin-left: 0;
      display: inline; }
    .sidebar--left.show {
      width: 35%; }
    .sidebar--left .playlists {
      display: block; }
  .player {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .player .track {
      display: none; }
    .player .volume {
      width: 19%; }
      .player .volume .range {
        width: 60%; }
    .player .controls {
      width: 79%; } }

@media screen and (max-width: 740px) {
  .music {
    grid-template-columns: 1fr 1fr 1fr; }
    .music-item {
      width: 30vw;
      height: 30vw; }
  .sidebar--left.show {
    width: 40%; } }

@media screen and (max-width: 540px) {
  .music {
    grid-template-columns: 1fr 1fr; }
    .music-item {
      width: 45vw;
      height: 45vw; }
  .sidebar--left.show {
    width: 60%; } }

@media screen and (max-width: 420px) {
  body {
    font-size: 14px; }
  .sidebar--left {
    font-size: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sidebar--left.show {
      width: 100%; }
  .header {
    height: 60px; }
    .header .d-menu {
      width: 55px;
      height: 100%; }
    .header__main .search {
      width: 75%;
      font-size: 11px; }
    .header__main .profile .ava {
      width: 60px;
      height: 60px; }
  .logo {
    display: none; }
  .music {
    width: 100%;
    display: block; }
    .music-item {
      display: block;
      width: 95vw;
      height: 25vw;
      margin: 0.5em auto;
      position: relative; }
      .music-item .hover {
        display: block;
        opacity: 1;
        background-color: inherit; }
        .music-item .hover .name {
          display: block;
          position: absolute;
          left: 30vw;
          top: 2vw; }
        .music-item .hover .author {
          position: absolute;
          left: 30vw;
          top: 7vw;
          color: rgba(255, 255, 255, 0.6); }
        .music-item .hover .play {
          opacity: 0;
          position: absolute;
          font-size: 2em;
          line-height: 25vw;
          width: 25vw;
          text-align: center; }
    .music img {
      width: 25vw;
      height: 100%; }
  .main {
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px); }
  .player {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .player .controls {
      width: 95vw;
      font-size: 12px; }
    .player .track {
      display: none; }
    .player .volume {
      display: none; } }
